@import "colors.css";

@define-color fg @foreground;
@define-color bg @background;
@define-color fg-alt @color14;
@define-color bg-alt @color1;

* {
  border: none;
  min-height: 20px;
  font-weight: 500;
  font-family:
    Cantarell,
    Ubuntu Nerd Font,
    HackGen,
    Noto Color Emoji;
  font-size: 14px;
}

window#waybar {
  background-color: @bg;
  /* background-color: transparent; */
  color: @fg;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar.termite {
  background-color: @bg;
}

window#waybar.chromium {
  background-color: #000000;
  border: none;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0px;
}

#workspaces button {
  padding: 0 6px;
  color: @fg;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  /* color: @bg; */
  color: @fg;
  background-color: alpha(@bg-alt, 0.4);
}

#workspaces button.selected {
  color: @fg;
  background-color: @bg-alt;
}

#workspaces button.active {
  color: @fg;
  background-color: @bg-alt;
}

#workspaces button.urgent {
  color: @fg;
  background-color: alpha(@bg-alt, 0.8);
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-pacman,
#custom-power,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#custom-clipboard,
#custom-screenshot,
#custom-colorpicker,
#mpd {
  padding: 0 5px;
  color: @fg;
  border-radius: 0px;
}

#clock:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#temperature:hover,
#backlight:hover,
#network:hover,
#pulseaudio:hover,
#wireplumber:hover,
#custom-pacman:hover,
#custom-power:hover,
#tray:hover,
#mode:hover,
#idle_inhibitor:hover,
#scratchpad:hover,
#custom-clipboard:hover,
#custom-screenshot:hover,
#custom-colorpicker:hover,
#mpd:hover {
  color: @fg;
  background-color: alpha(@bg-alt, 0.4);
}

#window {
  color: alpha(@fg-alt, 0.8);
}
