@import "colors.css";

@define-color fg @foreground;
@define-color bg @background;
@define-color fg-alt @color14;
@define-color bg-alt @color1;

* {
  border: none;
  min-height: 20px;
  font-weight: 400;
  font-family:
    Ubuntu Nerd Font,
    Cantarell,
    HackGen,
    Noto Color Emoji;
  font-size: 12px;
}

window#waybar {
  /* background-color: transparent; */
  background-color: @bg;
}

#clock,
#battery,
#window,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-pacman,
#custom-power,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#custom-clipboard,
#custom-screenshot,
#custom-colorpicker,
#mpd {
  padding: 0px 6px;
  color: alpha(@fg, 0.7);
  margin: 0px;
  border-radius: 0px;
}

#clock:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#temperature:hover,
#backlight:hover,
#network:hover,
#pulseaudio:hover,
#wireplumber:hover,
#custom-pacman:hover,
#custom-power:hover,
#tray:hover,
#mode:hover,
#idle_inhibitor:hover,
#scratchpad:hover,
#custom-clipboard:hover,
#custom-screenshot:hover,
#custom-colorpicker:hover,
#mpd:hover {
  color: alpha(@fg, 0.7);
  background-color: alpha(@bg-alt, 0.5);
}

#workspaces {
  padding: 0;
}

#workspaces button {
  /* transition-property: background-color; */
  /* transition-duration: 0.3s; */
  /* background: transparent; */
  /* padding: 0px 6px; */
  padding: 0 4px;
  margin: 0px;
  border-radius: 0px;
  color: alpha(@fg, 0.7);
}

#workspaces button:hover {
  background: alpha(@bg-alt, 0.7);
}

#workspaces button.urgent {
  font-weight: bold;
  color: @bg;
  background: alpha(@fg, 0.7);
}

#workspaces button.active {
  color: @fg;
  background: alpha(@bg-alt, 0.3);
}
